<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="grioanpier.auth.users.movies" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />



    <application
            android:name=".utility.ApplicationHelper"
        android:allowBackup="true"
        android:icon="@mipmap/quick_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <service android:name=".utility.SocketManagerService"
            android:exported="false"/>

        <activity
            android:name=".StartingScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Play"
            android:label="@string/title_activity_play" >
        </activity>
        <activity
            android:name=".LocalGame"
            android:label="@string/title_activity_local_game"
            android:parentActivityName=".StartingScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grioanpier.auth.users.movies.StartingScreen" />
        </activity>
        <activity
            android:name=".WaitingScreen"
            android:label="@string/title_activity_waiting_screen"
            android:parentActivityName=".LocalGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grioanpier.auth.users.movies.LocalGame" />
        </activity>
        <activity
            android:name=".About"

            android:parentActivityName=".StartingScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grioanpier.auth.users.movies.StartingScreen" />
        </activity>

        <provider
            android:name=".data.StoriesProvider"
            android:authorities="grioanpier.auth.users.movies"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".HallOfStories"
            android:label="@string/title_activity_hall_of_stories"
            android:parentActivityName=".StartingScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grioanpier.auth.users.movies.StartingScreen" />
        </activity>
        <activity
            android:name=".StoryPreview"
            android:label="@string/title_activity_story__preview"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".HallOfStories" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grioanpier.auth.users.movies.HallOfStories" />
        </activity>
    </application>

</manifest>
